<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-locationtimer" version="0.1.0">
   <name>LocationTimer</name>
   <js-module name="LocationTimer" src="www/LocationTimer.js">
      <clobbers target="cordova.plugins.locationtimer" />
   </js-module>
   <platform name="ios">
      <dependency id="cordova-plugin-add-swift-support" url="https://github.com/agoncalvesos/cordova-plugin-add-swift-support.git" />
      
      <config-file parent="/*" target="config.xml">
         <feature name="LocationTimer">
            <param name="ios-package" value="LocationTimer" />
         </feature>
      </config-file>

       <preference name="GEOFENCE_ALWAYS_USAGE_DESCRIPTION" default="${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$GEOFENCE_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="GEOFENCE_IN_USE_USAGE_DESCRIPTION" default="${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use." />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$GEOFENCE_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="GEOFENCE_ALWAYS_AND_IN_USE_USAGE_DESCRIPTION" default="${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use And Even In Background." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$GEOFENCE_ALWAYS_AND_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>

       <header-file src="src/ios/LocationTimer-Bridging-Header.h" />
      <source-file src="src/ios/LocationTimer.swift" />
   </platform>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="LocationTimer">
            <param name="android-package" value="com.cordova.plugin.locationtimer.LocationTimer" />
         </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.cordova.plugin.locationtimer.LocationTimerSv" android:exported="false" />
        </config-file>


      <source-file src="src/android/LocationTimer.java" target-dir="src/com/cordova/plugin/locationtimer" />
      <source-file src="src/android/LocationTimerSv.java" target-dir="src/com/cordova/plugin/locationtimer" />
   </platform>
</plugin>